body {
    margin-top: 10px;
}

#perdiem-swiper {
    border: 1px solid #ccc;
    min-height: 500px;
}

#perdiem-swiper .btn-block{
    margin-bottom:10px;
}

#perdiem-location-error,#perdiem-dates-error,#perdiem-api-error{
    display:none;
}

.perdiem-trip-total{
    background:#DFF0D8;
}

div.hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aaa;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding-top: 10px;
    font-size: 12px;
    color: #aaa;
}

div.hr span {
    background: #fff;
    padding: 0 10px;
}

.panel-heading a {
    display: block;
}

.panel-heading a .glyphicon {
    float: right;
}

.swiper-slide {
    visibility: hidden;
    padding: 10px;
}

.swiper-slide.swiper-slide-active {
    visibility: visible;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
