
#homepage-travel-tabs .nav-tabs li a,
#perdiem-swiper .panel-group *,
#perdiem-swiper .well {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}

#homepage-travel-tabs .datepicker table th{
    background:#fff;
}


#perdiem-swiper {
    min-height: 500px;
    width: 100%
}

.perdiem-other-rates{
    font-size:14px;
    margin:0px;
    padding:10px;
}

#homepage-travel-tabs {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px #ccc;
    background: #fff
}

#homepage-travel-tabs .nav-tabs li.active {
    background: #fff
}

#homepage-travel-tabs .nav-tabs li.active a {
    border: none
}

#homepage-travel-tabs .tab-pane {
    overflow: hidden
}

#homepage-travel-tabs .nav-tabs li {
    width: 20%;
    font-weight: 700;
    border-left: 1px solid #999;
    margin-right: 0;
    text-align: center
}

#homepage-travel-tabs .nav-tabs {
    background: #EDEADF
}

#homepage-travel-tabs .nav-tabs li a {
    color: #000
}

#perdiem-swiper h1,
#perdiem-swiper h2,
#perdiem-swiper h3,
#perdiem-swiper h4,
#perdiem-swiper h5 {
    font-weight: 700
}

.perdiem-unbold {
    font-weight: 400
}

#perdiem-end-date-group,
#perdiem-start-date-group {
    margin-bottom: 10px
}

#perdiem-swiper .panel-title {
    color: #000;
    font-weight: 400
}

.perdiem-step {
    margin-bottom: 15px;
    width: 100%
}

#perdiem-state,
#perdiem-swiper .btn-block {
    margin-bottom: 10px
}

.perdiem-step-number {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    background: #3A45BF;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    margin-right: 5px;
    margin-top: -2px
}

#perdiem-trip-breakdown-accordion-content .panel-body {
    padding: 0
}

.perdiem-invalid {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 0, 0, .7)!important;
    -moz-box-shadow: 0 0 1px 1px rgba(255, 0, 0, .7)!important;
    box-shadow: 0 0 1px 1px rgba(255, 0, 0, .7)!important;
    outline: 0!important;
    border: 1px solid red!important
}

.perdiem-error {
    display: none
}

.panel-khaki .panel-heading{
    background: #EDEADF
}
.well-khaki {
    background: #EDEADF
}

.well-info {
    background: #d9edf7
}

.well-info-bright {
    background: #F1F6FB
}

.panel-info {
    border-color: #e3e3e3
}

#perdiem-swiper div.hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aaa;
    line-height: .1em;
    margin: 10px 0 20px;
    padding-top: 10px;
    font-size: 12px;
    color: #aaa
}

#perdiem-swiper div.hr span {
    background: #fff;
    padding: 0 10px
}

#homepage-travel-tabs .panel-heading a, #perdiem-swiper .panel-heading a, .js-tabcollapse-panel-heading {
    display: block
}

#perdiem-swiper .panel-heading a .glyphicon {
    float: right
}

#perdiem-swiper .swiper-slide {
    visibility: hidden;
    padding: 10px
}

#perdiem-swiper .swiper-slide.swiper-slide-active {
    visibility: visible
}

#perdiem-swiper .glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0)
    }
    to {
        transform: scale(1) rotate(360deg)
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.btn-perdiem-secondary {
    color: #000;
    background-color: #E3EFF7;
    border-color: #CCDDE8
}

.btn-perdiem-secondary.active,
.btn-perdiem-secondary:active,
.btn-perdiem-secondary:focus,
.btn-perdiem-secondary:hover,
.open .dropdown-toggle.btn-perdiem-secondary {
    color: #000;
    background-color: #D0E6F5;
    border-color: #CCDDE8
}

.btn-perdiem-secondary.active,
.btn-perdiem-secondary:active,
.open .dropdown-toggle.btn-perdiem-secondary {
    background-image: none
}

.btn-perdiem-secondary.disabled,
.btn-perdiem-secondary.disabled.active,
.btn-perdiem-secondary.disabled:active,
.btn-perdiem-secondary.disabled:focus,
.btn-perdiem-secondary.disabled:hover,
.btn-perdiem-secondary[disabled],
.btn-perdiem-secondary[disabled].active,
.btn-perdiem-secondary[disabled]:active,
.btn-perdiem-secondary[disabled]:focus,
.btn-perdiem-secondary[disabled]:hover,
fieldset[disabled] .btn-perdiem-secondary,
fieldset[disabled] .btn-perdiem-secondary.active,
fieldset[disabled] .btn-perdiem-secondary:active,
fieldset[disabled] .btn-perdiem-secondary:focus,
fieldset[disabled] .btn-perdiem-secondary:hover {
    background-color: #E3EFF7;
    border-color: #CCDDE8
}

.btn-perdiem-secondary .badge {
    color: #E3EFF7;
    background-color: #000
}
