body {
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
#perdiem-swiper .well, #perdiem-swiper .panel-group * {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#perdiem-swiper {
    /*border: 1px solid #ccc;*/
    min-height: 500px;
    width:100%;
}

h1,h2,h3,h4,h5{
    font-weight:bold;
}

.perdiem-unbold{
    font-weight:normal;
}


#perdiem-swiper .panel-title{
    color:#000;
    font-weight:normal;
}
.perdiem-step{
    margin-bottom:15px;
    width:100%;
}
.perdiem-step-number {
    border-radius: 50%;
    width: 25px;
    height: 25px; 
    display:block;
    float:left;
    background:#3A45BF;
    color:#fff;
    text-align:center;
    padding-top:2px;
    margin-right:5px;
    margin-top:-2px;
}

.perdiem-invalid{
-webkit-box-shadow: 0px 0px 1px 1px rgba(255,0,0,0.7)!important;
-moz-box-shadow: 0px 0px 1px 1px rgba(255,0,0,0.7)!important;
box-shadow: 0px 0px 1px 1px rgba(255,0,0,0.7)!important;
outline:none !important;
border: 1px solid red!important;
}

#perdiem-swiper .btn-block{
    margin-bottom:10px;
}

#perdiem-location-error,#perdiem-dates-error,#perdiem-api-error{
    display:none;
}

#perdiem-state{
    margin-bottom:10px;
}

.well-kakhi, .panel-kahki .panel-heading{
    background:#EDEADF;
}



.well-info{
    background:#d9edf7;
}

.well-info-bright{
    background:#F1F6FB
}

div.hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aaa;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding-top: 10px;
    font-size: 12px;
    color: #aaa;
}

div.hr span {
    background: #fff;
    padding: 0 10px;
}

.panel-heading a {
    display: block;
}

.panel-heading a .glyphicon {
    float: right;
}

.swiper-slide {
    visibility: hidden;
    padding: 10px;
}

.swiper-slide.swiper-slide-active {
    visibility: visible;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.btn-perdiem-secondary { 
  color: #000000; 
  background-color: #E3EFF7; 
  border-color: #CCDDE8; 
} 
 
.btn-perdiem-secondary:hover, 
.btn-perdiem-secondary:focus, 
.btn-perdiem-secondary:active, 
.btn-perdiem-secondary.active, 
.open .dropdown-toggle.btn-perdiem-secondary { 
  color: #000000; 
  background-color: #D0E6F5; 
  border-color: #CCDDE8; 
} 
 
.btn-perdiem-secondary:active, 
.btn-perdiem-secondary.active, 
.open .dropdown-toggle.btn-perdiem-secondary { 
  background-image: none; 
} 
 
.btn-perdiem-secondary.disabled, 
.btn-perdiem-secondary[disabled], 
fieldset[disabled] .btn-perdiem-secondary, 
.btn-perdiem-secondary.disabled:hover, 
.btn-perdiem-secondary[disabled]:hover, 
fieldset[disabled] .btn-perdiem-secondary:hover, 
.btn-perdiem-secondary.disabled:focus, 
.btn-perdiem-secondary[disabled]:focus, 
fieldset[disabled] .btn-perdiem-secondary:focus, 
.btn-perdiem-secondary.disabled:active, 
.btn-perdiem-secondary[disabled]:active, 
fieldset[disabled] .btn-perdiem-secondary:active, 
.btn-perdiem-secondary.disabled.active, 
.btn-perdiem-secondary[disabled].active, 
fieldset[disabled] .btn-perdiem-secondary.active { 
  background-color: #E3EFF7; 
  border-color: #CCDDE8; 
} 
 
.btn-perdiem-secondary .badge { 
  color: #E3EFF7; 
  background-color: #000000; 
}